*.zip
*.rar
**/???.dis/
**/????.dis/
**/?????.dis/
**/??????.dis/
**/???????.dis/
**/????????.dis/
**/?????????.dis/
**/???_dis/
**/????_dis/
**/?????_dis/
**/??????_dis/
**/???????_dis/
**/????????_dis/
**/?????????_dis/